@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  /* fonts */
  --font-poppins: "Poppins", sans-serif;

  /* colors  */
  --color-purple: var(--purple);
  --color-gray-light: #f1f2f7;

  --tracking-wide: 0.5px;
  --leading-normal: 11px;
  /*  *Breakpoints */
  --breakpoint-xs: 340px;
  --breakpoint-ss: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1680px;
}

:root {
  --purple: #5a67ba;
}

/* Global Reset  */
/* Rechart */
.recharts-wrapper:focus,
.recharts-surface:focus {
  outline: none !important;
  box-shadow: none !important;
}

svg:focus {
  outline: none;
}

.recharts-xAxis .recharts-cartesian-axis-tick:focus text,
.recharts-xAxis .recharts-cartesian-axis-tick text:focus {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  transition-delay: 9999s !important;
  transition-property: background-color, color !important;
}

body {
  font-size: 12px;
  font-family: var(--font-poppins);
  background: var(--color-background);
  color: var(--color-text);
}

button {
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
